@font-face {
  font-family: "brandFont";
  src: url(./Main/fonts/StardosStencil-Bold.ttf);
}
.brandFont {
  font-family: "brandFont";
  font-size: 20px;
}
.App {
  text-align: center;
}

.App-logo {
  max-width: 100%;
  max-height: 50%;

  position: absolute;
  top: -30px;
}

.App-logo-special {
  max-width: 100%;
  max-height: 30%;
  position: absolute;
  top: -30px;
}

.App-header {
  background-color: #398378;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.pressable-button {
  padding: 15px 30px;
  font-size: 18px;
  font-family: brandFont;
  background-color: white;
  color: black;
  border: none;
  border-radius: 8px;
  box-shadow: 0px 5px 0px rgb(158, 155, 155);
  transition: transform 0.2s, box-shadow 0.2s;
}

.pressable-button:hover {
  color: black;
  background-color: white;
  cursor: pointer;
  transform: translateY(5px);
  box-shadow: none;
}

/* Contact */
.image-contact {
  max-width: 45%;
}
.text-contact-name {
  font-family: brandFont;
}
.text-contact {
  /* font-family: brandFont; */
  font-size: 1.3rem;
}
.text-contact a {
  text-decoration: none;
  color: rgb(0, 0, 0);
}
.contact-special {
  border-radius: 8%;
}
/* Wifi */
.text-start-special {
  text-align: start;
}
.flag-size {
  max-width: 10%;
}
.text-black {
  color: rgb(87, 70, 70);
}

/* Map */
#map {
  min-width: 400px;
  min-height: 400px;
}

.map {
  width: 100%;
  height: 100%;
  border: none;
}

/* Restaurans */
.pressable-button-resto {
  font-family: brandFont;
  padding: 15px 30px;
  width: 14rem;
  padding: 11px;
  margin: 10px;
  font-size: 18px;
  background-color: #ec9d2e;
  color: rgb(255, 255, 255);
  border: none;
  border-radius: 8px;
  box-shadow: 0px 5px 0px #b3823d;
  transition: transform 0.2s, box-shadow 0.2s;
}

.pressable-button-resto:hover {
  background-color: #ec9d2e;
  cursor: pointer;
  transform: translateY(5px);
  box-shadow: none;
}
.pressable-button-red {
  padding: 15px 30px;
  font-size: 18px;

  padding: 11px;
  background-color: #e46a45;
  color: rgb(251, 251, 251);
  border: none;
  border-radius: 8px;
  box-shadow: 0px 5px 0px #b3823d;
  transition: transform 0.2s, box-shadow 0.2s;
}

.pressable-button-red:hover {
  background-color: #e46a45;
  cursor: pointer;
  transform: translateY(5px);
  box-shadow: none;
}

@import "sweetalert2/dist/sweetalert2.min.css";
@import "bootstrap/dist/css/bootstrap.min.css";
