.App {
  text-align: center;
}

.App-logo {
  /* add this one to set it back */
  /* height: 10vmin; */
  /* pointer-events: none; */

  max-width: 100%;
  height: auto;
  position: absolute;
  top: -30px;
}

@media (prefers-reduced-motion: no-preference) {
  /* .App-logo {
    animation: App-logo-spin infinite 20s linear;
  } */
}

.App-header {
  background-color: #398378;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.pressable-button {
  padding: 15px 30px;
  font-size: 18px;
  background-color: white;
  color: black;
  border: none;
  border-radius: 8px;
  box-shadow: 0px 5px 0px rgb(158, 155, 155);
  transition: transform 0.2s, box-shadow 0.2s;
}

.pressable-button:hover {
  background-color: white;
  cursor: pointer;
}

.pressable-button:active {
  transform: translateY(5px);
  box-shadow: none;
}

.custom-dropdown {
  font-size: 16px;
  padding: 15px;
  width: 300px;
}

@import "sweetalert2/dist/sweetalert2.min.css";
